
body {
    padding: 20px;
}

.league td, .league .team-header {
    padding: 5px 40px;
}

.league td {
    text-align: center;
}

.league td:first-child {
    width: 80px;
}

.league .team, .league .team-header {
    text-align: left;
}
